/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* SIDE CONTENT*/
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(219,219,210);
    background: linear-gradient(0deg, #D9DBD4 85%, #009688 85%); 
    cursor: pointer;
}

.wrapper {
    display: flex;
    width: 80%;
    height: 95%;
}

.side-content {
    width: 35%;
    background-color: #FFFFFF;
    border-right: 1px solid #D9DBD4;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    background-color: #EAEAEA;
    flex-shrink: 0;
}

.user-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 5px;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.user-info span {
    font-size: 0.8rem;
    color: #8f8f8f;
}

.side-top-icons {
    display: flex;
    color: #B1B1B1;
}

.side-top-icons i {
    margin: 0 8px;
    font-size: 1.3rem;
}

.side-top-icons i:hover {
    color: #707070;
    transition: all .3s;
}

.nav-notification {
    height: 17%;
    background-color: #FAFAFA;
}

.set-notification {
    display: flex;
    align-items: center;
    height: 65%;
    background-color: #8EDAFC;
}

.notification-icon i {
    color: #8EDAFC;
    background-color: white;
    padding: 15px 12.5px;
    border-radius: 50%;
    font-size: 1.3rem;
    margin: 0 12px;
}

.notification-text span {
    font-size: 0.9rem;
    color: #8f8f8f;
}

.notification-text span:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    padding: 0 5px;
}

.search-icon {
    color: #B1B1B1;
    background-color: white;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    border-right: none;
}

.search-icon i {
    padding: 8.5px 15px;
    font-size: 1.2rem;
}

.search-input {
    /* padding: 3.5px; */
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    width: 100%;
}

.search-input input {
    padding: 10px 10px;
    border: none;
    width: 100%;
    font-size: .8rem;
}

.conversations-list {
    height: 75%;
    overflow: scroll;
}

.conversations-list li {
    list-style: none;
    display: flex;
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.conversations-list li:hover {
    background-color: rgb(222, 222, 222);
    transition: all .3s;
}

.user-avatar {
    margin-right: 10px;
}

.user-avatar img {
    width: 60px;
    border-radius: 50%;
}

.user-conversation {
    align-self: center;
}

.user-conversation span {
    font-size: .8rem;
    color: #8f8f8f;
}



/*MAIN CONTENT*/

.main-content {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.main-content .top-bar .side-top-icons {
    margin-right: 10px;
}

.conversation-active {
    height: 82%;
    background-image: url('../img/mine.jpg');
}

.bot-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background-color: #F3EEEA;
    flex-shrink: 0;
}

.bot-icons {
    color: rgb(114, 114, 114);
    font-size: 1.5rem;
}

.bot-icons i {
    padding: 20px 10px;
}

.bot-input input {
    padding: 20px 10px;
    width: 850px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 1rem;
}

.fa-face-smile:hover {
    color: #ffd700;
    transition: all .3s;
}

.fa-microphone:hover {
    color: #d80000;
    transition: all .3s;
}