/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #dbdbd2;
    background: linear-gradient(180deg, #009688 15%, #202020 15%); 
    color: white;
}

.wrapper {
    display: flex;
    width: 80%;
    height: 90%;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, .2);
}

/* ******************************************************* */
.checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox-label {
    background-color: rgb(25, 25, 25);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 6px rgba(255, 255, 255, .2);
}

.fa-moon {
    color: #f1c40f;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, .2);
}

.fa-sun {
    color: #f39c12;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, .2);
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}