/*-----------------------------*/
/*--------MAIN CONTENT--------*/
.main-content {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.main-content .top-bar .side-top-icons {
    margin-right: 10px;
}

.conversation-showed {
    display: flex;
    flex-direction: column;
    height: calc(100% - 165px);
    background-image: url('../img/mine.jpg');
    padding: 20px;
    overflow-y: scroll;
}

.message {
    display: flex;
    align-self: flex-start;
    background-color: #FFFFFF;
    padding: 20px 20px 20px 10px;
    min-width: 9%;
    max-width: 50%;
    word-wrap: break-word;
    margin-bottom: 10px;
    position: relative;
    border-radius: 0 10px 10px 10px;
}

.message:hover .fa-chevron-down {
    display: block;
}

.message.sent {
    align-self: flex-end;
    background-color: #D5F9BA;
    border-radius: 10px 0 10px 10px;
}

.message span {
    position: absolute;
    font-size: .7rem;
    bottom: 1px;
    right: 6px;
    color: #8f8f8f;
}

.message ul {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    overflow: hidden;
    font-size: 0.9rem;
    z-index: 1;
    min-width: 150px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    opacity: 0;
}

.dropdown-show-items {
    opacity: 1;
}

.message ul li {
    padding: 5px;
    color: rgb(50, 50, 50);
}

.message ul li:first-child {
    border-bottom: 1px solid lightgray;
}

.message ul li:hover {
    background-color: #cccccc;
    transition: all .3s;
}

.fa-chevron-down {
    position: absolute;
    top: 5px;
    right: 5px;
    color: gray;
    display: none;
    font-size: 0.9rem;
}

.bot-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: #F3EEEA;
    padding: 0 20px;
}

.bot-icons {
    color: rgb(114, 114, 114);
    font-size: 1.6rem;
}

.bot-icons i {
    padding: 20px 25px;
}

.bot-input {
    flex-grow: 1;
}

.bot-input input {
    padding: 20px 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
}

.fa-face-smile:hover {
    color: rgb(248, 200, 79);
    transition: all .3s;
}

.fa-microphone:hover {
    color: #d80000;
    transition: all .3s;
}