/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(219,219,210);
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%); 
}

.wrapper {
    display: flex;
    width: 80%;
    height: 90%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

/* ******************************************************* */
.checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox-label {
    background-color: #b1b1b1;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
}

.fa-moon {
    color: rgb(255, 205, 0);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.fa-sun {
    color: rgb(255, 158, 0);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}
